<% content_for :main do %>

  <div id="venues">
    <table class="table_list">
      <thead>
      <form method="get" action="/admin/ticketfly">
        <th>
          <button type="submit" class="sorter" name="sort" value="name">Name</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort" value="venue">Venue</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort" value="date">Date</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort" value="price">Price</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort" value="url">Tickets</button>
        </th>
        <th>
          Tasks
        </th>
      </form>
      </thead>
      <tbody>
      <% events.each do |event| %>
        <tr>
          <td>
            <%= event["name"] %>
          </td>
          <td>
            <%= event["venue"] %>
          </td>
          <td>
            <%= Date.parse(event["date"]).strftime("%m-%d-%Y") %>
          </td>
          <td>
            <%= event["price"] %>
          </td>
          <td>
            <a href="<%= event["tickets"] %>">Tickets</a>
          </td>
          <td>
            <a href="/ticketfly/<%= event["id"] %>/edit"
               class="button" id="delete">
              edit
            </a>
            <form method="post" action="/ticketfly/<%= event["id"] %>">
              <input type="hidden" name="_method" value="delete"/>
              <button class="button" id="delete">del</button>
            </form>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>