<% content_for :main do %>

<div id="venues">
  <table class="table_list">
    <thead>
    <form method="get" action="/admin/venues">

    <th>
      <button type="submit" class="sorter" name="sort" value="title">Name</button>
    </th>
    <th>
      <button type="submit" class="sorter" name="sort" value="address">Address</button>
    </th>
    <th>
      <button type="submit" class="sorter" name="sort" value="position">Position</button>
    </th>
    <th>
      <button type="submit" class="sorter" name="sort" value="marker_name">Marker Name</button>
    </th>
    <th>
      <button type="submit" class="sorter" name="sort" value="size">Size</button>
    </th>
    <th>
      <button type="submit" class="sorter" name="sort" value="price">Price</button>
    </th>
    <th>
      <button type="submit" class="sorter" name="sort" value="description">Description</button>
    </th>
    <th>
      Tasks
    </th>
      </form>
    </thead>
    <tbody>
    <% venues.each do |venue| %>
      <tr>
        <td>
          <a href="/ven_<%= venue.marker_name %>" class="sorter">
            <%= venue.title %></a>
        </td>
        <td>
          <%= venue.address.split(", ")[0] %>
          <br>
          <%= venue.address.split(", ")[1] %>
        </td>
        <td>
          <%= venue.position.split(",")[0] %>
          <br>
          <%= venue.position.split(",")[1] %>
        </td>
        <td><%= venue.marker_name %></td>
        <td><%= venue.size %></td>
        <td><%= venue.price %></td>
        <td id="venues_desc"><%= venue.description %></td>
        <td>
          <a href="/admin/venues/<%= venue.id %>/edit"
             class="button" id="delete">
            edit
          </a>
          <form method="post" action="/venues/<%= venue.id %>">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="button" id="delete">del</button>
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

  <div class="filter">
    <form method="get" action="/admin/venues">
      <select name="filter" class="field">
        <a href="/admin/venues"><option value="price: $">$</option></a>
        <option value="price: $$">$$</option>
        <option value="price: $$$">$$$</option>
        <option value="size: Warehouse/Art Space">Warehouse/Art Space</option>
        <option value="size: Bar">Bar</option>
        <option value="size: Small Venue">Small Venue</option>
        <option value="size: Mid-size Venue">Mid-size Venue</option>
        <option value="size: Large Venue/Auditorum">Large Venue/Auditorum</option>
        <option value="size: Outdoor Venue">Outdoor Venue</option>
      </select>
      <input type="submit" class="button" value="Filter"/>
    </form>
  </div>
<% end %>