<% content_for :main do %>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <% if list == "users" %>
    <p>Users</p>
    <div id="users">
      <table class="table_list">
        <thead>
        <form method="get" action="/">
          <th>
            <button type="submit" class="sorter" name="sort_users" value="user_name">Name</button>
          </th>
          <th>
            <button type="submit" class="sorter" name="sort_users" value="email">Email</button>
          </th>
          <th>
            <button type="submit" class="sorter" name="sort_users" value="password">Password</button>
          </th>
          <th>
            <button type="submit" class="sorter" name="sort_users" value="birthdate">Birthday</button>
          </th>
          <th>
            <button type="submit" class="sorter" name="sort_users" value="join_date">Join Date</button>
          </th>
          <th>&nbsp</th>
        </form>
        </thead>
        <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user["first_name"] + " " + user["last_name"] %></td>
            <td><%= user["email"] %></td>
            <td><%= user["password"] %></td>
            <td><%= Date.parse(user["birthday"]).strftime("%m-%d-%Y") %></td>
            <td><%= Date.parse(user["join_date"]).strftime("%m-%d-%Y") %></td>
            <td>
              <form method="post" action="/users/<%= user["id"] %>">
                <input type="hidden" name="_method" value="delete"/>
                <button class="button" id="delete">del</button>
              </form>
            </td>
            <td>
              <a href="/users/<%= user["id"] %>/edit"
                 class="button" id="delete">
                edit
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% elsif list == "venues" %>
    <p>Venues</p>
    <div id="venues">
      <table class="table_list">
        <thead>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="title">Name</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="address">Address</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="position">Position</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="marker_name">Marker Name</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="size">Size</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="price">Price</button>
        </th>
        <th>
          <button type="submit" class="sorter" name="sort_venues" value="description">Description</button>
        </th>
        <th>
          &nbsp
        </th>
        <th>
          &nbsp
        </th>
        </thead>
        <tbody>
        <% venues.each do |venue| %>
          <tr>
            <td>
              <a href="/ven_<%= venue["marker_name"] %>" class="sorter">
                <%= venue["title"] %></a>
            </td>
            <td>
              <%= venue["address"].split(", ")[0] %>
              <br>
              <%= venue["address"].split(", ")[1] %>
            </td>
            <td>
              <%= venue["position"].split(",")[0] %>
              <br>
              <%= venue["position"].split(",")[1] %>
            </td>
            <td><%= venue["marker_name"] %></td>
            <td><%= venue["size"] %></td>
            <td><%= venue["price"] %></td>
            <td id="venues_desc"><%= venue["description"] %></td>
            <td>
              <form method="post" action="/venues/<%= venue["id"] %>">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="button" id="delete">del</button>
              </form>
            </td>
            <td>
              <a href="/venues/<%= venue["id"] %>/edit"
                 class="button" id="delete">
                edit
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
