<% content_for :loggedout do %>
  <div class="nav_left">
    <form method="post" action="/">
      <input type="text" name="email" class="field" id="email"
             <% if flash[:notice] %>
             placeholder="<%= flash[:notice] %>"
             <% else %>
             placeholder="email"
             <% end %>
             />

      <div id="bottom">
        <input type="password" name="password" class="field"
               id="password" placeholder="password"/>
        <button type="submit" class="button">Sign In</button>
      </div>
    </form>
  </div>
  <div class="nav_right">
    <div id="reg">
      Not a member?<a href="/register" id="reg_button"> Register</a>
    </div>
    <div id="rem">
      <input type="checkbox" value="remem" id="rem"/>
      <label for="rem">Remember me</label></div>
  </div>
<% end %>

<% content_for :loggedin do %>

  <div class="nav_left">
    Welcome, <%= cur_user %>
    <br>
    <a href="/pw" class="button" id="change">Change Password</a>
    <br>
    <a href="/logout" class="button">Logout</a>
  </div>
<% end %>

<% content_for :main do %>
  <div id="map_container">
  </div>
<% end %>

<% content_for :script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>

  <script>
    var denver = new google.maps.LatLng(39.740009, -104.992302)

    var venues = [
      new google.maps.LatLng(39.733536, -104.992615),
      new google.maps.LatLng(39.715093, -104.983796),
      new google.maps.LatLng(39.740398, -104.975266),
      new google.maps.LatLng(39.760044, -104.983940)
    ];

    var markers = [];
    var iterator = 0;

    function initialize() {

      var mapCanvas = document.getElementById('map_container');
      var mapOptions = {
        center: denver,
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);

      var home = new google.maps.Marker({
        position: new google.maps.LatLng(39.715093, -104.983796),
        title: "Home",
        animation: google.maps.Animation.DROP,
        map: map
      });

      var galv = new google.maps.Marker({
        position: new google.maps.LatLng(39.733536, -104.992615),
        title: "Galvanize",
        animation: google.maps.Animation.DROP,
        icon: "images/galv.png",
        map: map
      });

      <% venues.each do |venue| %>
      var <%= venue["marker_name"] %> =
      new google.maps.Marker({
        position: new google.maps.LatLng(<%= venue["position"] %>),
        title: <%= venue["title"] %>,
        animation: google.maps.Animation.DROP,
        icon: "<%= venue["icon"] %>,
        map: <%= venue["map"] %>
      });

      <%= venue["marker_name"] %>.
      setMap(map);
      <% end %>

      home.setMap(map);
      galv.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<% end %>