<% content_for :main do %>
  <div id="map_container">
  </div>
  <div id="filter">
    <form method="get" action="/">
      <select name="filter" class="field">
        <option value="price: $">$</option>
        <option value="price: $$">$$</option>
        <option value="price: $$$">$$$</option>
        <option value="size: Warehouse/Art Space">Warehouse/Art Space</option>
        <option value="size: Bar">Bar</option>
        <option value="size: Small Venue">Small Venue</option>
        <option value="size: Mid-size Venue">Mid-size Venue</option>
        <option value="size: Large Venue/Auditorum">Large Venue/Auditorum</option>
        <option value="size: Outdoor Venue">Outdoor Venue</option>
      </select>
      <input type="submit" class="button" value="Filter"/>
    </form>
  </div>
<% end %>

<% content_for :script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>

  <script>
    var denver = new google.maps.LatLng(39.740009, -104.992302)

    var venues = [
      new google.maps.LatLng(39.733536, -104.992615),
      new google.maps.LatLng(39.715093, -104.983796),
      new google.maps.LatLng(39.740398, -104.975266),
      new google.maps.LatLng(39.760044, -104.983940)
    ];

    var markers = [];
    var iterator = 0;

    function initialize() {

      var mapCanvas = document.getElementById('map_container');
      var mapOptions = {
        center: denver,
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);

      <% venues.each do |venue| %>
      var <%= venue["marker_name"] %> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= venue["position"] %>),
        title: '<%= venue["title"] %>',
        animation: google.maps.Animation.DROP,
        map: <%= venue["map"] %>
      });

      var <%= venue["marker_name"] %>_info = '<div class="info_window">' +
        '<img src="<%= venue["logo"] %>">' +
        '<%= venue["description"] %>' +
        '<br>' +
        '<a href="<%= venue["site"] %>" class="button">Website</a>' +
        '</div>'

      var <%= venue["marker_name"] %>_window = new google.maps.InfoWindow({
        content: <%= venue["marker_name"] %>_info
      })

      <%= venue["marker_name"] %>.setMap(map);

      google.maps.event.addListener(<%= venue["marker_name"] %>, 'click', function () {
        <%= venue["marker_name"] %>_window.open(map, <%= venue["marker_name"] %>);
      });
      <% end %>
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<% end %>

<% content_for :nav do %>
  <div id="nav">
    <ul>
      <li>
        Events
      </li>
      <li>
        Bands
      </li>
      <li>
        <a href="/venues">Venues</a>
      </li>
    </ul>
  </div>
<% end %>

