<% content_for :main do %>
  <div id="map_container">
  </div>
  <div class="filter">
    <form method="get" action="/">
    <input type="date" class="field" name="date" id="map_date"/>
      <input type="submit" class="button" value="Filter"/>
    </form>
  </div>
<% end %>

<% content_for :script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>

  <script>
    var denver = new google.maps.LatLng(39.740009, -104.992302)

    function initialize() {

      var mapCanvas = document.getElementById('map_container');
      var mapOptions = {
        center: denver,
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);

      var window = new google.maps.InfoWindow({})

      <% events.each do |event| %>
      var <%= event["marker_name"] %> = new google.maps.Marker({
        position: new google.maps.LatLng(<%= event["position"] %>),
        title: '<%= event["name"] %>',
        animation: google.maps.Animation.DROP,
        map: map
      });

      var <%= event["marker_name"] %>_info = '<div class="info_window">' +
        '<p><%= event["name"] %></p><br>' +
        '<p><%= event["venue"] %></p><br>' +
        '<a href="<%= event["tickets"] %>" class="button">Tickets</a>' +
        '</div>'

      <%= event["marker_name"] %>.setMap(map);

      google.maps.event.addListener(<%= event["marker_name"] %>, 'click', function () {
        window.setContent(<%= event["marker_name"] %>_info);
        window.open(map, <%= event["marker_name"] %>);
      });
      <% end %>
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<% end %>


