<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sound Locale</title>
  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/./style.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="/./images/icon.ico">
  <%= yield_content :script %>
  <script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = "//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs");</script>
</head>
<body>
<div class="wrapper">
  <div id="header">
    <section class="clearfix">
      <a href="/">
      <article class="one_half">
          <div id="logo_container"><img src="/./images/logo.png"></div>
        <div id="title"> Sound Locale</div>
        <div id="sub">Music sounds for your ear holes</div>
        <% if flash[:notice] %>
        <div id="flash"><%= flash[:notice] %></div>
          <% else %>
          <div id="flash"></div>
          <% end %>
      </article></a>
      <article class="one_half" id="right_nav">
        <% if session[:id] == 1 %>
          <div class="nav_left">
            <a href="" class="button" id="admin">Welcome, Admin</a>
            <br>
            <a href="/users/1/pw/edit" class="button" id="admin">Change Password</a>
            <br>
            <a href="/logout" class="button" id="admin">Logout</a>
          </div>
          <div class="nav_right" id="admin_nav">
            <a href="/admin/users" class="button" id="admin">Users</a>
            <br>
            <a href="/admin/venues" class="button" id="admin">Venues</a>
            </form>
            <br>
            <a href="/admin/venues/new" class="button" id="admin">Add Venue</a>
          </div>
        <% elsif session[:id] %>
          <div class="nav_right">
            Welcome, <%= cur_user["first_name"] %>
            <br>
            <a href="/users/<%= cur_user["id"] %>/pw/edit" class="button">Change Password</a>
            <br>
            <a href="/logout" class="button">Logout</a>
          </div>
          <div class="nav_left">
            <%= yield_content :filter %>
          </div>
        <% else %>
          <div class="nav_right">
            <div id="reg">
              Not a member?<a href="/users/new" id="reg_button"> Register</a>
            </div>
            <div id="rem">
              <input type="checkbox" value="remem" id="rem"/>
              <label for="rem">Remember me</label></div>
          </div>
          <div class="nav_left">
            <form method="post" action="/">
              <input type="text" name="email" class="field" id="email" placeholder="email"/>

              <div id="bottom">
                <input type="password" name="password" class="field"
                       id="password" placeholder="password"/>
                <button type="submit" class="button">Sign In</button>
              </div>
            </form>
          </div>
        <% end %>
      </article>
    </section>
  </div>
  <div id="nav">
    <a href="">Events</a>
    <a href="">Bands</a>
    <a href="/venues">Venues</a>
  </div>
  <div id="social">
    <div id="fb">
      <div class="fb-like" data-href="https://facebook.com/soundlocale" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    <div id="twitter">
      <a href="https://twitter.com/soundlocale" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow</a>
    </div>
  </div>
  <div id="main">
    <%= yield_content :main %>
    <div class="clearfix">&nbsp;</div>

  </div>
</div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
