<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Colorado Sound</title>
  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="images/icon.ico">

  <% if session[:id] != 1 %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp">
    </script>

    <script>
      var denver = new google.maps.LatLng(39.740009, -104.992302)

      var venues = [
        new google.maps.LatLng(39.733536, -104.992615),
        new google.maps.LatLng(39.715093, -104.983796),
        new google.maps.LatLng(39.740398, -104.975266),
        new google.maps.LatLng(39.760044, -104.983940)
      ];

      var markers = [];
      var iterator = 0;

      function initialize() {

        var mapCanvas = document.getElementById('map_container');
        var mapOptions = {
          center: denver,
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var map = new google.maps.Map(mapCanvas, mapOptions);

        var home = new google.maps.Marker({
          position: new google.maps.LatLng(39.715093, -104.983796),
          title: "Home",
          animation: google.maps.Animation.DROP,
          map: map
        });

        var galv = new google.maps.Marker({
          position: new google.maps.LatLng(39.733536, -104.992615),
          title: "Galvanize",
          animation: google.maps.Animation.DROP,
          icon: "images/galv.png",
          map: map
        });

        <% venues.each do |venue| %>
        var <%= venue["marker_name"] %> =
        new google.maps.Marker({
          position: new google.maps.LatLng(<%= venue["position"] %>),
          title: <%= venue["title"] %>,
          animation: google.maps.Animation.DROP,
          icon: "<%= venue["icon"] %>,
          map: <%= venue["map"] %>
        });

        <%= venue["marker_name"] %>.
        setMap(map);
        <% end %>

        home.setMap(map);
        galv.setMap(map);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <% end %>
</head>
<body>
<div class="wrapper">
  <div id="header">

    <section class="clearfix">
      <article class="one_half">
        <div id="title"><span class="fa fa-search"></span> Sound Locale</div>
      </article>
      <article class="one_half" id="right_nav">
        <% if session[:id] %>
          <%= yield_content :loggedin %>
        <% else %>
          <%= yield_content :loggedout %>
        <% end %>
      </article>
    </section>
  </div>
  <%= yield_content :main %>
</div>
</body>
</html>
