<% content_for :main do %>
  <div class="form">
    <form method="post" action="/ticketfly/<%= event["id"] %>">
      <input type="hidden" name="_method" value="patch"/>
      <ul>
        <li>
          <label for="name">Name</label>
        </li>
        <li>
          <input type="text" name="name" class="field" value="<%= event["name"] %>"/>
        </li>
        <br>
        <li>
          <input type="text" name="headliner" class="field" value="<%= event["headliner"] %>"/>
        </li>
        <br>
        <li>
          <label for="title">Title</label>
        </li>
        <li>
          <input type="text" name="venue" class="field" value="<%= event["venue"] %>"/>
        </li>
        <br>
        <li>
          <label for="date">Date</label>
        </li>
        <li>
          <input type="text" name="date" class="field" id="date" value="<%= event["date"] %>"/>
        </li>
        <br>
        <li>
          <label for="price">Price</label>
        </li>
        <li>
          <input type="text" name="price" class="field" value="<%= event["price"] %>"/>
        </li>
        <br>
        <li>
          <label for="ticket">Tickets</label>
        </li>
        <li>
          <input type="text" name="tickets" class="field" value="<%= event["tickets"] %>"/>
        </li>
        <br>
      </ul>
      <button type="submit" class="button" id="reg_submit">Update event</button>
    </form>
  </div>
<% end %>