<% content_for :main do %>
  <div class="form">
    <form method="post" action="/venues/<%= venue["id"] %>">
      <input type="hidden" name="_method" value="patch"/>
      <ul>
        <li>
          <label for="name">Name</label>
        </li>
        <li>
          <input type="text" name="name" class="field" value="<%= venue["name"] %>"/>
        </li>
        <br>
        <li>
          <label for="title">Title</label>
        </li>
        <li>
          <input type="text" name="title" class="field" value="<%= venue["title"] %>"/>
        </li>
        <br>
        <li>
          <label for="address">Address</label>
        </li>
        <li>
          <input type="text" name="address" class="field" id="address" value="<%= venue["address"] %>"/>
        </li>
        <br>
        <li>
          <label for="site">Website</label>
        </li>
        <li>
          <input type="text" name="site" class="field" value="<%= venue["site"] %>"/>
        </li>
        <br>
        <li>
          <label for="position">Position</label>
        </li>
        <li>
          <input type="text" name="position" class="field" value="<%= venue["position"] %>"/>
        </li>
        <br>
        <li>
          <label for="marker_name">Marker Name</label>
        </li>
        <li>
          <input type="text" name="marker_name" class="field" value="<%= venue["marker_name"] %>"/>
        </li>
        <br>
        <li>
          <label for="background">Background</label>
        </li>
        <li>
          <input type="text" name="background" class="field" value="<%= venue["background"] %>"/>
        </li>
        <br>
        <li>
          <label for="icon">Icon</label>
        </li>
        <li>
          <input type="text" name="icon" class="field" value="<%= venue["icon"] %>"/>
        </li>
        <br>
        <li>
          <label for="logo">Logo</label>
        </li>
        <li>
          <input type="text" name="logo" class="field" value="<%= venue["logo"] %>"/>
        </li>
        <br>
        <li>
          <label for="description">Description</label>
        </li>
        <li>
          <input type="text" name="description" class="field"
                 id="venues_desc" value="<%= venue["description"] %>"/>
        </li>
        <br>
        <li>
          <label for="size">Size</label>
        </li>
        <li>
          <select name="size" class="field">
            <option value="Warehouse/Art Space">Warehouse/Art Space</option>
            <option value="Bar">Bar</option>
            <option value="Small Venue">Small Venue</option>
            <option value="Mid-size Venue">Mid-sized Venue</option>
            <option value="Large Venue/Auditorium">Large Venue/Auditorium</option>
            <option value="Outdoor Venue">Outdoor Venue</option>
          </select>
        </li>
        <br>
        <li>
          <label for="price">Price</label>
        </li>
        <li>
          <select name="price" class="field">
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
          </select>
        </li>
        <br>
        <li>
          <label for="map">Map</label>
        </li>
        <li>
          <select name="map" class="field">
            <option value="map">map</option>
          </select>
        </li>
        <br>
      </ul>
      <button type="submit" class="button" id="reg_submit">Update Venue</button>
    </form>
  </div>
<% end %>