<% content_for :map_script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>
  <script>
    var denver = new google.maps.LatLng(<%= venue.position %>)

    function initialize() {

      var mapCanvas = document.getElementById('small_map');
      var mapOptions = {
        center: denver,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);

      var <%= venue.marker_name %> =
      new google.maps.Marker({
        position: new google.maps.LatLng(<%= venue.position %>),
        title: '<%= venue.title %>',
        animation: google.maps.Animation.DROP,
        map: <%= venue.map %>
      });

      <%= venue.marker_name %>.setMap(map);

    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<% end %>

<% content_for :main do %>
  <article class="one_half" id="venue_page">
    <div id="venue_info">
      <div id="venue_logo">
        <img src="<%= venue.logo %>">
      </div>
      <ul>
        <li><%= venue.address %></li>
        <li><%= venue.size %></li>
        <li><%= venue.price %></li>
        <li><%= venue.description %></li>
      </ul>
    </div>
  </article>
  <article class="one_half">
    <div id="small_map">
    </div>
  </article>

  <div class="venue_events">
    <table>
      <% events.each do |event| %>
        <tr class="event_date">
          <td>
            <%= event.date.strftime("%A, %b %d") %>
          </td>
          </tr>
        <tr>
          <td>
          <a href="<%= event["tickets"] %>"><%= event["name"] %></a>
        </td>
          <td class="event_price">
            <%= event["price"] %>
          </td>
        </tr>
        <!--<tr><td>&nbsp;</td></tr>-->
      <% end %>
    </table>
  </div>

<% end %>
