<% content_for :script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>

  <script>
    var denver = new google.maps.LatLng(<%= venue["position"] %>)

    function initialize() {

      var mapCanvas = document.getElementById('small_map');
      var mapOptions = {
        center: denver,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);

      var <%= venue["marker_name"] %> =
      new google.maps.Marker({
        position: new google.maps.LatLng(<%= venue["position"] %>),
        title: '<%= venue["title"] %>',
        animation: google.maps.Animation.DROP,
        map: <%= venue["map"] %>
      });

      <%= venue["marker_name"] %>.
      setMap(map);


      home.setMap(map);
      galv.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

<% end %>

<% content_for :main do %>
  <div id="venue_name">
    <img src="<%= venue["logo"] %>">
  </div>

  <br>
  <table id="venue_info">
    <tr>
      <td>
        Address:
      </td>
      <td><%= venue["address"] %></td>
    </tr>
    <tr>
      <td>Size:</td>
      <td><%= venue["size"] %></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><%= venue["price"] %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= venue["description"] %></td>
    </tr>
  </table>
  <div id="small_map">
  </div>
<% end %>