<ul>
  <% events[date].each do |event| %>
    <li class="date-event">

      <div><h4><%= event.headliner %></div>
      <hr class="event-divider">
      <div class="name"><h3><%= event.venue.name %></h3></div>

        <h5><%= event.venue.address %></h5>
        <% if event.time %>
          <h5>Doors at <%= event.time.strftime("%l:%M") %></h5>
        <% end %>
        <h5><%= event.price %></h5>
      </p>
    </li>
  <% end %>
</ul>