<div class="col-xs-12 events-list">
  <div class="col-xs-12 months">
    <div class="row">
      <% next_12_months.each do |month| %>
        <div class="col-xs-2 col-sm-1">
          <%= link_to month[:name], '#', data: {month: "#{month[:index]}#{month[:year]}"}, class: 'month' %>
        </div>
      <% end %>
    </div>
  </div>
  <% events.each do |date, events| %>
    <div class="col-xs-12 clear">
      <div class="date clear">
        <div class="date-header header" id="<%= "#{date.month}#{date.year}" %>">
          <%= formatted_date(date) %>
        </div>
        <div class="date-content clear">
          <% events.each do |event| %>
            <div class="event clear">
              <div class="col-xs-12 col-md-5 title">
                <div class="headliner"><%= truncated_string(event.headliner) %></div>

                <% if event.opener %>
                  <div class="opener"><%= event.opener %></div>
                <% end %>
              </div>
              <div class="col-xs-12 col-md-5 info">
                <%= formatted_time(event.time) %>
                @ <%= link_to event.venue.name, venue_path(event.venue.id), class: 'body-link' %>
                <div class="price">
                  <%= event.price %>
                </div>
              </div>
              <div class="col-xs-12 col-md-2 links">
                <div class="row">
                  <div class="col-xs-3">
                    <% if event.tickets != '' %>
                      <%= link_to (fa_icon 'ticket'), event.tickets, class: 'tickets-trigger' %>
                    <% else %>
                      &nbsp;
                    <% end %>
                  </div>
                  <div class="col-xs-3">
                    <%= fa_icon 'map-marker', class: 'map-trigger', data: {venue_id: event.venue.id} %>
                  </div>
                  <div class="col-xs-3">
                    <%= fa_icon 'youtube-play', class: 'yt-trigger', data: {query: event.headliner + ' band'} %>
                  </div>
                  <div class="col-xs-3">
                    <%= fa_icon 'soundcloud', class: 'sc-trigger', data: {query: event.headliner} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>