<% content_for :main do %>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 events">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3 events-title header">Denver Shows</div>
            <div class="col-xs-12 instructions">
              <div class="col-xs-2 expand">
                Click Date to Expand <%= fa_icon 'caret-down' %>
              </div>
              <div class="col-xs-4 col-xs-offset-2">
                <%= text_field_tag 'search', nil, class: 'search', placeholder: 'Search Events' %>
              </div>
              <div class="col-xs-2 col-xs-offset-2 toggle-all">
                <%= link_to 'Close All', '#', class: 'btn btn-default', id: 'close-all' %>
                <%= link_to 'Expand All', '#', class: 'btn btn-default', id: 'expand-all' %>
              </div>
            </div>
            <div class="col-xs-12 months">
              <div class="row">
                <% next_12_months.each do |month| %>
                  <div class="col-xs-1">
                    <%= link_to month[:name], '#', data: {month: "#{month[:index]}#{month[:year]}"}, class: 'month' %>
                  </div>
                <% end %>
              </div>
            </div>
            <% @events_by_date.each do |date, events| %>
              <div class="col-xs-12">
                <div class="date">
                  <div class="date-header header" id="<%= "#{date.month}#{date.year}" %>">
                    <%= formatted_date(date) %>
                  </div>
                  <div class="date-content">
                    <% events.each do |event| %>
                      <div class="event">
                        <div class="col-xs-12 col-md-5 title">
                          <div class="headliner"><%= truncated_string(event.headliner) %></div>

                          <% if event.opener %>
                            <div class="opener"><%= event.opener %></div>
                          <% end %>
                        </div>
                        <div class="col-xs-12 col-md-5 info">
                          <%= formatted_time(event.time) %>
                          @ <%= link_to event.venue.name, venue_path(event.venue.id), class: 'body-link' %>
                          <div class="price">
                            <%= event.price %>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-2 tickets">
                          <%= link_to (fa_icon 'map-marker'), '#', class: 'map-icon', data: {venue_id: event.venue.id} %>
                          <%= link_to (fa_icon 'ticket'), event.tickets %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 no-events">
          <h1>No Events Match Your Search</h1>
        </div>
      </div>
    </div>
    <div id="map-container"></div>
  </section>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'events-index' %>
<% end %>