<% content_for :main do %>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 events">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3 events-title header">Denver Shows</div>
            <div class="col-xs-12 instructions">
              <div class="col-xs-3 expand">
                <%= link_to (fa_icon 'th'), '#', data: {view: 'grid'}, class: 'fa-2x', id: 'grid-trigger' %>
                <%= link_to (fa_icon 'list'), '#', data: {view: 'list'}, class: 'fa-2x', id: 'list-trigger' %>
                <span id="grid">Grid View</span>
                <span id="list">List View</span>
              </div>
              <div class="col-xs-4 col-xs-offset-1">
                <%= text_field_tag 'search', nil, class: 'search', placeholder: 'Search Events' %>
              </div>
              <div class="col-xs-4 toggle-all">
                <div>Click Dates to Expand</div>
                <%= link_to 'Close All', '#', class: 'btn btn-default', id: 'close-all' %>
                <%= link_to 'Expand All', '#', class: 'btn btn-default', id: 'expand-all' %>
              </div>
              <div class="col-xs-4 grid-instructions">
                <!--<div>Hover on Hex for Info</div>-->
              </div>
            </div>
              <%= render partial: 'events/list', locals: {events: @events[:list_events]} %>
              <%= render partial: 'events/grid', locals: {events: @events[:grid_events]} %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 no-events">
          <h1>No Events Match Your Search</h1>
        </div>
      </div>
    </div>
    <div id="map-container"></div>
  </section>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'events-index' %>
  <%= javascript_include_tag 'events-grid' %>
<% end %>