<% content_for :main do %>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 events">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 events-title header">Denver Shows</div>
            <div class="col-xs-12 instructions">
              <div class="col-xs-12 col-sm-3 expand">
                <%= link_to (fa_icon 'th'), '#', data: {view: 'grid'}, class: 'fa-2x', id: 'grid-trigger' %>
                <%= link_to (fa_icon 'list'), '#', data: {view: 'list'}, class: 'fa-2x', id: 'list-trigger' %>
                <span id="grid">Grid View</span>
                <span id="list">List View</span>
              </div>
              <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                <%= text_field_tag 'search', nil, class: 'search', placeholder: 'Search Events' %>
              </div>
              <div class="col-xs-12 col-sm-4 toggle-all">
                <div>Click Dates to Expand/Close</div>
                <!--<%= link_to 'Close All', '#', class: 'btn btn-default', id: 'close-all' %>-->
                <!--<%= link_to 'Expand All', '#', class: 'btn btn-default', id: 'expand-all' %>-->
              </div>
              <div class="col-xs-12 col-sm-4 grid-instructions">
                <!--<div>Hover on Hex for Info</div>-->
              </div>
            </div>
            <%= render partial: 'events/list', locals: {events: @events} %>
            <%= render partial: 'events/grid' %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 no-events">
          <h1>No Events Match Your Search</h1>
        </div>
      </div>
    </div>
    <div id="map-container"></div>
    <div class="player" id="yt-player">
      <div class="buttons">
        <%= fa_icon 'times', id: 'yt-close', class: 'fa-2x body-link' %>
        <%= fa_icon 'desktop', id: 'yt-video-expand', class: 'fa-2x body-link' %>
      </div>
      <iframe id="yt-video"
              type="text/html"
              width="300"
              height=200"
              frameborder="0">
      </iframe>
    </div>
    <div class="player" id="sc-player">
      <div class="buttons">
        <%= fa_icon 'times', id: 'sc-close', class: 'fa-2x body-link' %>
      </div>
      <div id="sc-widget"></div>
    </div>
  </section>
<% end %>

<% content_for :script do %>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <%= javascript_include_tag 'soundcloud' %>
  <%= javascript_include_tag 'event_ui' %>
  <%= javascript_include_tag 'events-index' %>
  <%= javascript_include_tag 'youtube' %>
  <%= javascript_include_tag 'events-grid' %>
<% end %>