<% content_for :main do %>
  <div class="event-list-container">
    <ul>
      <% @events_by_date.keys.each do |date| %>
        <li class="date-events-container" id="<%= date.strftime("%m%d%Y") %>">
          <div class="date-events-container" id="<%= date.strftime("%m%d%Y") %>">
            <h1><%= date.strftime("%A, %b %d") %></h1>

            <div class="date-events">
              <ul>
                <% @events_by_date[date].each do |event| %>
                  <li class="date-event">
                    <ul>
                      <li><h4><%= event.headliner %></h4></li>
                      <li class="event-divider">
                      </li>
                      <li>
                        <h3><%= event.venue.name %></h3>
                      </li>
                      <li>
                        <ul class="date-event-info">
                          <li><%= event.venue.address %></li>
                          <% if event.time %>
                            <li>Doors at <%= event.time.strftime("%l:%M") %></li>
                          <% end %>
                          <li><%= event.price %></li>
                        </ul>
                      </li>
                    </ul>
                    <div class="date-event-buttons">
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="no-events-container">
    <h1>NO EVENTS MATCH YOUR SEARCH</h1>
  </div>
  <div class="event-tools">
    <div class="fixed">
      <div class="search-bar">
        <div class="search-and-submit">
          <input class="search" type="search" placeholder="Search Events"/>
        </div>
      </div>
      <div class="cal-date"></div>
      <button class="top">Back to top</button>
      <!--<button class="top">Show All</button>-->
    </div>
  </div>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'events-filter' %>
<% end %>