<% content_for :main do %>
  <div id="main">
  <div class="event-list-container">
    <ul>
      <% @events_by_date.keys.each do |date| %>
        <li>
          <div class="event-date-container" id="<%= date.strftime("%m%d%Y") %>">
            <h2><%= date.strftime("%A, %b %d") %></h2>

            <div class="events-per-date-container">
              <ul>
                <% @events_by_date[date].each do |event| %>
                  <li class="event-row">
                    <b><%= event.venue.name %></b>
                    <br>
                    <span class="event-name"><%= event.name %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="no-events-container">
    <h1>NO EVENTS MATCH YOUR SEARCH</h1>
  </div>
  <div class="event-tools">
    <div class="fixed">
      <div class="search-bar">
        <div class="search-and-submit">
          <input class="search" type="search" placeholder="Search Events"/>
        </div>
      </div>
      <div class="cal-date"></div>
      <button class="top">Back to top</button>
      <!--<button class="top">Show All</button>-->
    </div>
  </div>
    </div>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'calendar' %>
<% end %>