<% content_for :main do %>
  <div class="table-container">
    <table class="table-borders">
      <thead>
      <tr>
        <th>Name</th>
        <th>Headliner</th>
        <th>Venue</th>
        <th>Price</th>
        <th>Date</th>
        <th>Time</th>
        <th>Tasks</th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr class="event-row">
          <td><%= event.name %></td>
          <td><%= event.headliner %></td>
          <td><%= event.venue_name %></td>
          <td><%= event.price %></td>
          <% if event.date && !event.time %>
            <td><%= event.date.strftime("%A, %b %d") %></td>
            <td>TBD</td>
          <% elsif event.time && !event.date %>
            <td>TBD</td>
            <td><%= event.time.strftime("%l:%M %p") %></td>
          <% elsif !event.date && !event.time %>
            <td>TBD</td>
            <td>TBD</td>
          <% else %>
            <td><%= event.date.strftime("%A, %b %d") %></td>
            <td><%= event.time.strftime("%l:%M %p") %></td>
          <% end %>
          <td>
            <%= button_to "Edit", edit_event_path(event.id) %>
            <%= button_to "Delete", event_path(event.id), method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>