<% content_for :main do %>
  <h1>Venues</h1>
  <div class="venue-grid">
    <ul>
      <% @venues.each do |venue| %>
       <li class="venue-tile">
        <%= link_to venue_path(venue.id) do %>
          <div style="background-image: url(<%= venue.background %>)" id="<%= venue.id %>">
            <span class="venue-list-name"><%= venue.title %></span>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>
    </div>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'venues-list.js' %>
<% end %>