<% content_for :map_script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp">

  </script>
  <script>

    var denver = new google.maps.LatLng(39.740009, -104.992302)

    function initialize() {
      var mapCanvas = document.getElementById('mapContainer');
      var mapOptions = {
        center: denver,
        zoom: 12,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);
      var window = new google.maps.InfoWindow({})

      <% @venues.each do |venue| %>
      var <%= venue.marker_name %> =
      new google.maps.Marker({
        position: new google.maps.LatLng(<%= venue.position %>),
        title: '<%= venue.name %>',
        animation: google.maps.Animation.DROP,
        map: map
      });

      var <%= venue.marker_name %>_info = '<div class="info-window texture-normal">' +
        '<h3><%= venue.name %></h3>' +
        '<p><%= venue.size %></p><p><%= venue.price %></p>' +
        '<a href="<%= venue.site %>" class="button">Tickets</a>' +
        '</div>'

          <%= venue.marker_name %>.setMap(map);

      google.maps.event.addListener(<%= venue.marker_name %>, 'click', function () {
        window.setContent(<%= venue.marker_name %>_info);
        window.open(map, <%= venue.marker_name %>);
      });
      <% end %>
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
<% end %>

<% content_for :main do %>
  <div id="mapContainer">
  </div>
<% end %>