<% content_for :main do %>
  <section class="venue-info-map-container">
    <div class="venue-info-container" data-id="<%= @venue.id %>">
      <ul>
      <li class="venue-name-container">
        <h1><%= @venue.name %></h1>
      </li>
      <li class="venue-address-container">
        <%= @venue.address %>
      </li>
      <li class="venue-size-price-container">
        <%= @venue.size %> - <%= @venue.price %>
      </li>
        </ul>
    </div>
    <div id="venue-map-container">
    </div>
  </section>
  <section class="venue-description-container">
    <div>
      <%= @venue.description %>
    </div>
  </section>
  <section class="venue-events-container">
    <ul>
      <li class="venue-event-header">
        <div>Show</div>
        <div>Date</div>
      </li>
      <div id="venue-events">
      <% @venue.events.select { |event| event.date >= Date.today }.each do |event| %>
        <li>
          <div>
            <%= event.name %>
          </div>
          <div>
            <%= event.date.strftime("%A, %b %d") %>
          </div>
        </li>
      <% end %>
        </div>
    </ul>
  </section>
  <section id="no-venue-events-container">
    <h2>NO EVENTS TO SHOW</h2>
  </section>
<% end %>

<% content_for :script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= javascript_include_tag 'venue-map' %>
<% end %>