<% content_for :main do %>
  <section class="venue-info-map-container">
    <div class="venue-info-container" data-id="<%= @venue.id %>">
      <h1><%= @venue.name %></h1>
      <hr>
      <div class="venue-details">
        <h5><%= @venue.price %></h5>
        <h5><%= @venue.size %></h5>
        <h5><%= @venue.address %></h5>
      </div>
      <p class="venue-description"><%= @venue.description %></p>
    </div>
    <div id="venue-map-container">
    </div>
  </section>
  <section class="venue-events-container">
    <table>
      <tbody id="venue-events">
      <% @venue.events.each do |event| %>
        <tr>
          <td>
            <%= event.headliner %>
          </td>
          <td>
          </td>
          <td class="event-price">
            <%= event.price %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </li>
    <div id="venue-events">
    </div>
    </ul>
  </section>
  <section id="no-venue-events-container">
    <h2>NO EVENTS TO SHOW</h2>
  </section>
<% end %>

<% content_for :script do %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= javascript_include_tag 'venue-map' %>
<% end %>