<!DOCTYPE html>
<html>
<head>
  <title>Sound Locale</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/images/icon.ico' %>
</head>
<body>
<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Events", events_list_path %></li>
        <li class="nav-link events_map"><%= link_to "Event Map", root_path %></li>
        <li class="nav-link"><%= link_to "Venues", venues_list_path %></li>
        <li class="nav-link"><%= link_to "Venue Map", venues_map_path %></li>
      </ul>
    </div>
    <!--<div class="nav">-->
    <!--<ul id="navigation-menu">-->
    <!--<li class="nav-link trigger-item">-->
    <!--<%= link_to "Events", url: "javascript:void(0)", class: "dropdown-trigger" %>-->
    <!--<ul>-->
    <!--<li class="dropdown-item"><%= link_to "List", events_list_path %></li>-->
    <!--<li class="dropdown-item"><%= link_to "Map", root_path %></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class="nav-link trigger-item">-->
    <!--<%= link_to "Venues", url: "javascript:void(0)", class: "dropdown-trigger" %>-->
    <!--<ul>-->
    <!--<li class="dropdown-item"><%= link_to "List", venues_list_path %></li>-->
    <!--<li class="dropdown-item"><%= link_to "Map", venues_map_path %></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <%= link_to "Log In", signin_path, class: "sign-up" %>
    <%= link_to "Sign Up", new_user_path, class: "sign-up" %>

  </div>
</header>
<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>
<div class="main">
  <%= yield :main %>
</div>
<%= yield :script %>

</body>
</html>


