<!DOCTYPE html>
<html>
<head>
  <title>SoundLocale</title>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= yield :map_script %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/images/icon.ico' %>
</head>
<body>
<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Event List", events_list_path %></li>
        <li class="nav-link events_map"><%= link_to "Event Map", root_path %></li>
        <li class="nav-link"><%= link_to "Venue List", venues_list_path %></li>
        <li class="nav-link"><%= link_to "Venue Map", venues_map_path %></li>
      </ul>
    </div>

    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input class="search" type="search" placeholder="Search Events"/>
        </div>
      </div>

      <%= link_to "Sign Up", new_user_path, class: "sign-up" %>
      <a href="javascript:void(0)" class="sign-up">Log In</a>
    </div>
  </div>
</header>
<div class="wrapper-for-content-outside-of-footer">
  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>
  <%= yield :main %>
</body>
</html>


