<!DOCTYPE html>
<html>
<head>
  <title>SoundLocale</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :map_script %>
  <link rel="shortcut icon" href="images/icon.ico">
</head>
<body>
<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Event List", events_list_path %></li>
        <li class="nav-link events_map"><%= link_to "Event Map", root_path %></li>
        <li class="nav-link"><%= link_to "Venue List" %></li>
        <li class="nav-link"><%= link_to "Venue Map" %></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Search Events"/>
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <%= link_to "Sign Up", new_user_path, class: "sign-up" %>
      <a href="javascript:void(0)" class="sign-up">Log In</a>
    </div>
  </div>
</header>
  <button type="button" class="js-menu-trigger sliding-menu-button">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu.png" alt="">
  </button>
  <nav class="js-menu sliding-menu-content">
    <ul>
      <li><%= link_to "TicketFly", ticketfly_path %></li>
      <li><a href="javascript:void(0)">StubHub</a></li>
      <li><a href="javascript:void(0)">AXS</a></li>
      <li><%= link_to "Delete All", all_events_path, method: :delete %></li>
    </ul>
  </nav>
<div class="js-menu-screen menu-screen"></div>
<div class="wrapper-for-content-outside-of-footer">
  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>
  <%= yield :main %>
</body>
</html>


