<!DOCTYPE html>
<html>
<head>
  <title>Sound Locale</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/images/icon.ico' %>
</head>
<body>
<header>
  <div class="title">
  <h1><%= link_to "BANDSTAND", root_path %></h1>
    </div>
<nav>
  <ul>
      <li class="nav-link"><%= link_to "Events", events_list_path %></li>
      <li class="nav-link"><%= link_to "Venues", venues_list_path %></li>
      <li class="map-dropdown-trigger">Map
        <ul>
        <li><%= link_to "Events", root_path %></li>
        <li><%= link_to "Venues", venues_map_path %></li>
        </ul>
  </ul>
    </nav>
</header>
<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>
<div class="main">
  <%= yield :main %>
</div>
<%= yield :script %>

</body>
</html>


